.task-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

}

.task-card {
  align-text: center;
  margin: 1%;
  padding: 1%;
  border-radius: 6px;
  border-style: solid;
  border-color: black 
}

.urgent {
  background-color: red;
}