body {
  background-image: url("https://picsum.photos/1200/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Architects Daughter', cursive;
  color: white;
  margin: 5%;
}
.task-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

}

.task-card {
  align-text: center;
  margin: 1%;
  padding: 1%;
  border-radius: 6px;
  border-style: solid;
  border-color: white;
  background-color: rgba(255, 255, 255, 0.413);
}

.urgent {
  background-color: rgba(182, 12, 12, 0.584);
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
}

form input {
  border-radius: 6px;
}

.user-dropdown {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

button {
  font-family: inherit;
  box-shadow: 3px 4px 0px 0px #899599;
	background-color: rgba(128, 128, 128, 0.488);
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-size:17px;
	padding:7px 25px;
  text-shadow:0px 1px 0px #e1e2ed;
  text-decoration: black;
}

header {
  font-size: 150%;
  display: flex;
  justify-content: center;
}

/* .form-div {
  display: flex;
  justify-content: center;
} */